@page "/deliveryorder"
@rendermode InteractiveWebAssembly
@inherits MvvmComponentBase<DeliveryOrderViewModel>
@* @attribute [StreamRendering] *@
<PageTitle>Delivery Order</PageTitle>
<FluentGrid Spacing="2" OnBreakpointEnter="@UpdateGridSize" AdaptiveRendering="true">
</FluentGrid>
@* @if (ViewModel.IsView is false) *@
@* { *@
@*     <p>Loading ........</p> *@
@* } *@
@* else *@
@* { *@
@*     *@
@* } *@
@if (init)
{
    @if (isXs)
    {
        <DeliveryOrderMobile/>
    }
    else
    {
        <DeliveryOrderDefault ViewModel="ViewModel"
                              Visible="visible"/>
    }
}


<FluentOverlay @bind-Visible=@visible
               Opacity="0.4"
               FullScreen="true"
               OnClose="OnCloseOverlay"
               PreventScroll=true>
    <FluentProgressRing/>
</FluentOverlay>